
/* These selectors does not work for CACCIA */
/* div[attr=test1]*/

/* These CSS selectors work for CACCIA */
/* div#test1 {font-size:15pt;} */
body { margin:0px; }
html { background-color : silver; border }
iframe {border: 0px; margin:0px;padding:0px;width :100%; height:100%;}

#Layer_CanSetup {   height:100%;  width :100%; border-style:solid;  border-color:lightgrey;}

#Layer_TabStrip { padding:3px 5px 1px 5px; height:70%; width:100%;}
#tabbar_main { height:100%; width:100%; }

#Layer_MessageLog { padding:1px 5px;height:30%; width :100%;}
#MessageLogObj { height:80%; width :100%;}
#btnLogGridClear {float:left; width: 100px;height:34px;align:right;}
#ButtonDebugLog  {float:right; width: 100px;height:34px;}

.iframetab
{
  padding : 0px;
  margin : 0px;
}


