#frame_IOs
{
  border:2px;
  border-color:grey;
  border-style:solid;
  height : 100%;
  width : 100%;  
}
#frame_inputs
{
  border:2px;
  border-color:grey;
  border-style:solid;
  height : 88%;
  margin : 2px;
  width: 48%;
}
#frame_outputs
{
  border:2px;
  border-color:grey;
  border-style:solid;
  height : 88%;
  left: 49%;
  margin : 2px;
  position: absolute;
  top: 17px;
  width:48%; 
}
#frame_hidden{}
button 
{
  height:20px;
  width: 120px;
}

#btnUpdateInputs
{
  height:30px;
  left : 20px;
  position: absolute;
}